:root {
  /* Palette colori */
  --header-column-bg: #eaeaea;
  --active-notification-bg: #8edafc;
  --left-input-bg: #fafafa;
  --left-contacts-bg: #ffffff;
  --sent-message-bg: #d5f9ba;
  --received-message-bg: #ffffff;
  --right-bottom-input-bg: #f3eeea;
  --icon-color: #b1b1b1;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  background: linear-gradient(to bottom, #009688 15%, #dadbd3 15% 100%);
}

ul {
  list-style: none;
  height: 100%;
}

img {
  width: 100%;
  border-radius: 50%;
  width: 35px;
}

i {
  cursor: pointer;
  color: gray;
}

h6 {
  margin: 0;
}

.container {
  width: 1200px;
  height: 750px;
  margin-top: 2rem;
}

.left-col {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.right-col {
  height: 100%;
}

.col-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-column-bg);
}

.notification-toggle {
  display: flex;
  align-items: center;
  background-color: var(--active-notification-bg);
}

.notification-toggle .bell {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--received-message-bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bell i {
  color: var(--active-notification-bg);
  cursor: default;
}

.notification-toggle a {
  font-size: 0.6rem;
  color: grey;
}

.notification-toggle .info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-area {
  background-color: var(--left-input-bg);
}

.left-input {
  width: 80%;
  margin-left: 1rem;
  border: none;
}
.contacts {
  height: 554px;
  background-color: var(--left-contacts-bg);
  overflow: scroll;
}

.contacts li {
  border-bottom: 1px solid var(--header-column-bg);
  display: flex;
  justify-content: space-between;
}

.contacts li:hover {
  cursor: pointer;
  background-color: var(--header-column-bg);
}

.contact-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-time,
.msg-shown {
  font-size: 0.6rem;
  color: rgb(183, 179, 179);
  margin: 0;
}

.chat-container {
  height: 628px;
  background-image: url(../img/mine.jpg);
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.chat-container .messages {
  padding: 0px 15px;
}

.chat-container .messages .sent-msg {
  padding: 5px;
  max-width: 400px;
  min-height: 50px;
  word-break: break-all;
}

.chat-container .messages .rigth-messages {
  text-align: end;
  position: relative;
}

.messages button {
  display: none;
}

.messages:hover button {
  display: block;
}

.messages .dropdown-menu li {
  background-color: white;
}

.chat-container .msg-time {
  font-size: 0.5rem;
  align-self: flex-end;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.sent {
  min-width: 350px;
  border-radius: 10px;
  text-align: start;
  align-self: flex-end;
  font-size: 0.8rem;
  background-color: var(--sent-message-bg);
  padding: 10px;
}

.received {
  min-width: 350px;
  border-radius: 10px;
  text-align: start;
  align-self: flex-start;
  font-size: 0.8rem;
  background-color: var(--received-message-bg);
  padding: 10px;
}

.chat-input {
  height: 40px;
  background-color: var(--header-column-bg);
  align-self: baseline;
}

.chat-input .message-box {
  overflow: scroll;
  padding: 3px;
}
